{% extends "index.html" %}

{% block title %}About Code Chronicles{% endblock %}

{% block content %}
<h2>Who are you?</h2>
<p>Hello, my name is Sean Kelley. I am a life-long tech enthusiast and my passion
is programming. When I was young, people often asked me the common
question, "What do you want to be when you grow up?" My response was always, "An
inventor!" I would form ideas for things that might be useful to people, not because
I wanted fame or fortune, but because I genuinely wished to enhance someone's life.
</p>
<p>
When I was in the 6th grade, my family got our first computer. I had been interested
in creating things that might be useful, but with this computer I had an outlet. I 
experimented with BASIC and started a simple Role Playing Game, though my intent 
wasn't actually to create a game, it was to learn how to. I never finished it, but
I began learning C++ from a book the following year.
</p>
<p>It captivated me, it allowed me to create things, even if they weren't particularly
useful. I enjoyed learning how to program much in the same way people might enjoy a
good book. I wasn't rushing from topic to topic within the book, instead I would learn 
a new concept from the book and refactor old code to utilize it, or create something 
new.</p>
<p> TODO: add more
</p>
<h2>What's the point?</h2>
<p>Code Chronicles, as the name and tagline "An Experiment in Perspective Evolution" 
suggests, deals with the change in perspective over time. I am fascinated by what
the future may bring, but I'm also fascinated by the way in which it shapes our
perspective of things. Our perspectives are constantly evolving with each new input,
so it can often be difficult to remember how you viewed the world last year; it's
only natural for us to believe that our current opinions are of such merrit that
we must have always had them.
</p>
<p>
Music is an easy example of this for me. I have music that I listened to in
highschool still kicking around that I avoid like the plague. It reminds me that
at some point, I actually enjoyed listening to it. Not all of my old music is bad,
some of it I still enjoy listening to. However, if I didn't have it
around, I might not even be aware of how my tastes have evolved. Code Chronicles, if it
achieves nothing more, will at least allow me to reflect upon how my perspectives on
technology have changed. I might be able to point to it five years from now and
remark, "You may call me by what ever name you wish, so long as your sentence ends with,
'as your prophecies foretold.'" Or, more likely, I will look at my posts with the same
horror as I do my music by the band "Papa Roach".
</p>
<p>
</p>
{% endblock %}
